.main_logo {
  width: 200px;
  padding-left: 50px;
}

body {
  background: grey;
}

h1 {
  padding: 20px 0 10px;
  text-align: center;
  color: #94090D;
  font-size: 5.0em;
  line-height: 1.1em;
  text-shadow: 0px 2px 2px #444;
  font-family: 'Audiowide', cursive;
}

h1 .subline {
  color: black;
  font-size: 0.5em;
  line-height: 0.8em;
}

p.summary {
  text-align: center;
}

.hexagons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 156px;
}

.hexagon {
  position: absolute;
  background-size: 52px 60px;
  background-repeat: no-repeat;

  display: block;
  width: 52px;
  height: 60px;
  cursor: pointer;

  -webkit-transition: 1s ease-in-out;
}

.hexagon.bluegreen {
  background-image: url(../img/bluegreen.png);
  left: 76px;
  top: 0px;
}
.hexagon.red{
  background-image: url(../img/red.png);
  left: 126px;
  top: 0px;
}
.hexagon.blue{
  background-image: url(../img/blue.png);
  left: 0px;
  top: 43px;
}
.hexagon.yellow{
  background-image: url(../img/yellow.png);
  left: 51px;
  top: 43px;
}
.hexagon.green{
  background-image: url(../img/green.png);
  left: 101px;
  top: 43px;
}

.hexagon.select{
  left: -150px;
  top: 43px;
}

@-webkit-keyframes drop {
 from {
   top: 86px;
 }
 to {
   top: 500px;
 }
}
/*
.hexagon.green{
  -webkit-animation-name: drop;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
*/
