.main_logo {
  width: 200px;
  padding-left: 50px;
}

.hexagons {
  position: relative;
  margin: 20px 100px;
}

.hexagon {
  position: absolute;
  background-size: 105px 120px;
  background-repeat: no-repeat;

  display: block;
  width: 105px;
  height: 120px;
}

.hexagon.bluegreen {
  background-image: url(../img/bluegreen.png);
  left: 153px;
  top: 0px;
}
.hexagon.red{
  background-image: url(../img/red.png);
  left: 255px;
  top: 0px;
}
.hexagon.blue{
  background-image: url(../img/blue.png);
  left: 0px;
  top: 86px;
}
.hexagon.yellow{
  background-image: url(../img/yellow.png);
  left: 102px;
  top: 86px;
}
.hexagon.green{
  background-image: url(../img/green.png);
  left: 204px;
  top: 86px;
}

@-webkit-keyframes drop {
 from {
   top: 86px;
 }
 to {
   top: 500px;
 }
}

.hexagon.green{
  -webkit-animation-name: drop;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

