.main_logo {
  width: 200px;
  padding-left: 50px;
}

body {
  background: grey;
}

h1 {
  padding: 20px 0 10px;
  text-align: center;
  color: #94090D;
  font-size: 5.0em;
  line-height: 1.1em;
  text-shadow: 0px 2px 2px #444;
  font-family: 'Audiowide', cursive;
}

h1 .subline {
  color: black;
  font-size: 0.5em;
  line-height: 0.8em;
}

p.summary {
  text-align: center;
}

.hexagons {
  position: relative;
  margin: 15px auto;
  width: 156px;
  height: 103px;
}

.hexagon {
  position: absolute;
  background-size: 52px 60px;
  background-repeat: no-repeat;

  display: block;
  width: 52px;
  height: 60px;
  cursor: pointer;

  -webkit-transition: 1s ease-in-out;
}

.hexagon.bluegreen {
  background-image: url(../img/bluegreen.png);
  left: 76px;
  top: 0px;
}
.hexagon.red{
  background-image: url(../img/red.png);
  left: 126px;
  top: 0px;
}
.hexagon.blue{
  background-image: url(../img/blue.png);
  left: 0px;
  top: 43px;
}
.hexagon.yellow{
  background-image: url(../img/yellow.png);
  left: 51px;
  top: 43px;
}
.hexagon.green{
  background-image: url(../img/green.png);
  left: 101px;
  top: 43px;
}

.hexagon.select{
  left: -245px;
  top: 43px;
}

.title {
  position: absolute;
  left: -188px;
  bottom: 15px;
  font-size: 2.0em;
  color: #000300;
  font-weight: bold;
  -webkit-transition: 2s ease-in-out;
  opacity: 0;
  font-family: 'Permanent Marker', cursive;
}

.title.show {
  opacity: 1.0;
}

ul.contents {
  list-style: none;
  margin: 0 auto 20px;
  width: 640px;
  padding: 20px;
  background: #000300;
  -webkit-border-radius: 6px;
  opacity: 0;
  color: white;
  font-size: 1.5em;
  -webkit-transition: 1s ease-in-out;
}

ul.contents.show {
  opacity: 0.85;
}

ul.contents li p {
  font-size: 0.9em;
  line-height: 1.2em;
}

ul.contents > li {
  display: none;
}

ul.contents li.select {
  display: block;
}

ul.contents ul.list {
  margin-bottom: 9px;
}

ul.contents ul.list li {
  font-size: 0.8em;
  line-height: 1.1em;
}

.badges {
  position: fixed;
  right: 10px;
  top: 10px;
  text-align: right;
  padding: 0;
  margin: 0;
}

.badge2{
  display: inline-block;
  background: no-repeat;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 0 0 3px;
}

.badge2.twitter {
  background-image: url(../img/Twitter_32x32.png);
  background-size: 24px 24px;
}

.badge2.wordpress {
  background-image: url(../img/wordpress.png);
  background-size: 23px 23px;
  background-position: 1px 0px;
}

.badge2.github {
  background-image: url(../img/github.png);
  background-size: 24px 24px;
}

/*
@-webkit-keyframes drop {
 from {
   top: 86px;
 }
 to {
   top: 500px;
 }
}
.hexagon.green{
  -webkit-animation-name: drop;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
*/
